.App {
  background-color: #282c34;
}

.footer {
  color: whitesmoke;
  text-align: center;
  margin: 150px auto;
  padding: 30px;
  font-size: 16px;
}

/* h4 {
  color: #2c2c34;
}
h5 {
  color: #5fd4f3;
}
h6 {
  color: #d9d9db;
}
h7 {
  color: #1169f3;
} */
