.search-bar {
  background-color: whitesmoke;
  border-radius: 12px;
  margin: 20px auto;
}

.mb-3 {
  margin: 15px auto;
}

.button {
  background-color: #1169f3;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 12px;
}
.current-weather {
  background-color: #5fd4f3;
  border-radius: 12px;
  margin: 20px auto;
}

.weather-quality {
  background-color: #d9d9db;
  border-radius: 12px;
  margin: 20px auto;
}

.weather-forecast {
  background-color: #1169f3;
  border-radius: 12px;
  margin: 20px auto;
}
