.search-bar,
.current-weather,
.weather-quality,
.weather-forecast {
  border-radius: 12px;
  margin: 20px auto;
  padding: 10px;
}

.current-weather {
  background-color: #5fd4f3;
}

.weather-quality {
  background-color: #d9d9db;
}

.weather-forecast {
  background-color: #1169f3;
}

.search-bar {
  background-color: whitesmoke;
}

.precipitation,
.humidity,
.windspeed {
  background: white;
  border-radius: 12px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
}

.mb-3 {
  margin: 15px auto;
}

.button {
  background-color: #1169f3;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 12px;
}
