.search-bar,
.current-weather,
.weather-quality,
.weather-forecast,
.row {
  border-radius: 12px;
  margin: 20px auto;
  padding: 10px;
}

.search-bar {
  background-color: whitesmoke;
}

.current-weather {
  background-color: #5fd4f3;
}

.weather-quality {
  background-color: #d9d9db;
}

.weather-forecast {
  background-color: #1169f3;
}

.precipitation,
.humidity,
.windspeed {
  background: white;
  border-radius: 12px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
}

.mb-3 {
  margin: 15px auto;
}

.button {
  background-color: #1169f3;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 12px;
  max-width: 250px;
}

li {
  list-style-type: none;
}

.current-temperature {
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  height: auto;
}

.temperature-unts {
  color: red;
  position: relative;
  top: -25px;

  text-decoration: none;
  margin-left: 5px;
}

.large-weather-icon {
}

.sunrise-set-icon {
  height: 50px;
}
